.category-container {
    display: flex;
}

.category {
    width: 107px;
    height: 30px;
    padding: 0 20px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #636363;
    font-size: 12px;
    font-weight: 700px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#product-details {
    padding: 20px 0px;
}

.product-details-top {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.product-details-top img {
    width: 220px;
}

.product-details-bottom {
    padding: 10px 20px 20px 20px;
}

.product-details-bottom h3 {
    color: #0CAF1D;
    font-size: 20px;
}
.product-details-bottom h4 {
    color: #636363;
    font-size: 12px;
}

.product-details-bottom p {
    color: #636363;
    font-size: 12px;
    margin: 10px 0;
}
