


#cart-container {
    padding: 20px 0;
}

.cart-total-container {
    padding: 0 20px 10px 20px;
}

.cart-total-container h3 {
    text-align: right;
    font-size: 16px;
    color: #0CAF1D;
}

.cart-item-container img {
    width: 70px;
    height: 70px;
}

.cart-item-container {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.cart-item-left {
    display: flex;
}

.cart-item-quantity-container {
    display: flex;
}

.cart-item-right {
    padding: 10px 0;
    font-size: 12px;
    font-weight: 700;
    color: #0CAF1D;
}

.cart-item-description {
    padding: 10px 0;
}

.cart-item-description h3 {
    font-size: 12px;
    color: #636363;
}

